body {background-color:hsl(212, 45%, 89%);}
.container {display:flex;
flex-direction: column;
justify-content: center;
    width:23%; height:auto;
    align-items: center;
    margin-top:10%;
    margin-left:35%;
    margin-right:35%;
background-color:hsl(0, 0%, 100%);
padding-top:20px;
border-radius:20px;
}
@media (max-width:600px){div{width:85%; height:auto;
margin:auto;}}

@media (min-width:601){div{width:50%; height:auto;
    margin:auto;}}

.qr-image {margin-left:auto;
    margin-right: auto;
    border-radius:20px;}    
    
.heading {font-family:Outfit;
    color:hsl(218, 44%, 22%);
     font-weight:700;
   margin-left: 10px;
margin-right:10 px;
padding-top:20 px;
padding-left:25 px;
padding-right:25 px;
text-align:center;
}
.text {text-align:center;
    font-family:Outfit;
    color:hsl(216, 15%, 48%);
font-size:15px;
font-weight:400;
margin-left:35px;
margin-right:35px;
margin-bottom:20px;
padding-bottom: 40px;
padding-left:40px;
padding-right:40px;

}

